# ValidationResult

::: bootstack.core.validation.ValidationResult
